*{
  background-color: rgb(65, 65, 65);
  color: white;
}

.titleH4{
  font-style: italic;
  margin: 10px 20px;
}

.form-group{
  display: flex;
  flex-direction: column;
}

.panel-footer{
  display: flex;
  justify-content: center;
}

.comment{
  border: 1px solid rgb(161, 160, 160);
  padding: 10px;

}
textarea{
  border: none;
  border-bottom: 1px solid rgb(161, 161, 161);
}
.panel{
  margin-left: 40%;
  padding: 10px 50px;
}

