.fade-enter {
  opacity: 0;
  transform: scale(0.8) translateY(-50%)
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 800ms ease-out;
}

.fade-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.8) translateY(-50%);
  transition: all 800ms ease-out;
}