
/*
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
*/

.mainGuestbook{
  font-family: 'Lato', sans-serif;
  display: flex;
  color:white;
  background-color:black;
  background-image:url(https://i.imgur.com/tC3SpjI.jpg);
  background-size: cover;
}

.mainGuestbook h1 h2 h3{
  font-family: 'Playfair Display', serif;
  color:white;
}
.mainGuestbook h1{
  color:white;
}

.allElementsContainer{
  margin-left: 3rem;
}

.commentList h2{
  font-size: 28px;
  color:white;
}

.commentList h3{
  font-size: 20px;
  color:white;
}

.pageDescription{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.pageDescription p{
  font-style: italic;
}
.GuestbookForm{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 7rem;
}

.pageDescription{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.textareaContainer{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#label{
  margin-bottom: 2rem;
}

#message{
  height: 7rem;
  width: 30rem;
  background: transparent;
  color: White;
  border-color: transparent;
}

.btnContainer{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 1rem;
}

.commentList{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.comments{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.commentsPara{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 29%;
  height: auto;
}

@media screen and (max-width: 991px){
  .mainGuestbook{
    background-color:black;
    background-image:url(https://i.imgur.com/UoBoHUo.jpg);
    background-size: cover;
  }

  #background_opacity{
    background-color: rgba(255, 255, 255, 0.5);
  }

  .textareaContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .btnContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .commentList{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .comments{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: auto;
  }

  .commentsPara{
    width: 100%;
    height: auto;
  }
  
  .pageDescription{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}