
/*
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;
*/

.mainGuestbook{
  font-family: 'Lato', sans-serif;
  display: flex;
}

.mainGuestbook h1 h2 h3{
  font-family: 'Playfair Display', serif;
}

.commentList h2{
  font-size: 28px;
}

.commentList h3{
  font-size: 20px;
}

.pageDescription{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.pageDescription p{
  font-style: italic;
}
.GuestbookForm{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.pageDescription{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.textareaContainer{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#message{
  height: 7rem;
  width: 20rem;
}

.btnContainer{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 1rem;
}

.commentList{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.comments{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.commentsPara{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 30%;
  height: auto;
}

@media screen and (max-width: 991px){
  .textareaContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .btnContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .commentList{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .comments{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: auto;
  }

  .commentsPara{
    width: 100%;
    height: auto;
  }
  
  .pageDescription{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}