.quizz-container {
  display: flex;
}

.result {
  display: flex;  
}

.options {
  cursor: pointer;
  border: 2px solid black;
  padding: 10px;
}

.selected {
  cursor: pointer;
  background: linear-gradient(to right, #828181, #b5b3b3) !important;
}

ul {
  list-style-type: none;
}

.button-question {
  width: 200px;
  border : 2px solid #373737;
  padding: 0.5em 1em;
  margin: 2em auto 2em;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.button-question:hover, .button-question:focus, .button-question:active, .button.active {
  box-shadow: 0px 0px 0px 5px #373737;
  cursor: pointer;
}

.ui {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.banner {
  width: 100%;
}

.quizz {
  background-image: url('../../images/quizz.jpg');
  background-size: cover;
  height: 80vh;
}