.HomeMain{
    margin: 0px;
    padding: 0px;
    height: auto;
    font-family: 'Lato', sans-serif;
}

.cod{
    color:#CC2A49;
    margin-top: 40px;
    text-decoration: underline;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    text-transform: none;
}

.date{
    color: #000;
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

#recipe{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

#recipe button{
    background-color: rgb(172, 9, 42);
    font-size: 17px;
    border-radius: 5px;
    padding: 5px 25px;
    margin-bottom: 5px;
    color: rgb(240, 235, 235);
    font-weight: bold;
    width: 100px;
    text-align: center;
    
}

.title-cod{
    text-align: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
}

.Main-image img{
    margin: 0 auto;
    width: 65%;
}

.Video{
    position: relative;
    top: 0;
    left: 0;
    display: flex;    
}

.Video h1{
    position: absolute;
    color: #fff;
    top: 35%;
    right: 3%;
    transform: translateY(-50%);
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 0.15rem;
    animation-name: videotitle;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.Video h6{
    position: absolute;
    color: #fff;
    top: 60%;
    right: 4%;
    transform: translateY(-50%);
    margin-top: 40px;
    font-size: 12px;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    animation-name: videotext;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes videotext {
    from { transform: translateX(-350%)}
    to { transform: translateX(0%)}
}

@keyframes videotitle {
    from { transform: translateX(150%)}
    to { transform: translateX(0%)}
}

.Main-image{
    display: flex;
    
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
}

.text-cod{
    margin: 60px;
    text-align: justify;
}

.signal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.Alcoholic{
    font-weight: 500;
    color: #FF1A49;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    line-height: 15px;
    text-shadow: 0 0 5px #FF1A49;
    
}

.Alcoholic-signal{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    line-height: 15px;
    background-color: #FF1A49;
    vertical-align: middle;
    box-shadow: 0 0 5px #FF1A49;
}

.Soft{
    text-align: center;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color: #00a6c0;
    font-size: 15px;
    line-height: 15px;
    text-shadow: 0 0 5px #00a6c0;
}

.Soft-signal{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    line-height: 15px;
    background-color: #00a6c0;
    vertical-align: middle;
    box-shadow: 0 0 5px #00a6c0;
}

.main1{
    text-align: center;
} 

.main2{
    margin-top: 100px;
} 

.panel {
    margin:  30px;
    padding: 10px;
    border-radius: 5px ;
    box-shadow: 2px 1px 3px #9c9c9c;
    
}

.panel p{
    font-size: 18px;
    font-style: italic;
}


.panel h4 {
    font-weight: bold;
    font-size: 22px;
}

.imageIngredient{
    width: 40%;
    height: auto;
}

.panel-body {
    padding: 10px;
}

.panel-footer button {
    background-color: rgb(172, 9, 42);
    font-size: 17px;
    border-radius: 5px;
    padding: 5px 25px;
    margin-bottom: 5px;
    color: rgb(240, 235, 235);
    font-weight: bold;
}
.panel-footer .btn:hover {
    background-color: rgb(146, 1, 30);
    color: rgb(240, 235, 235);
    transition-duration: 0.2s;
}

