.HomeMain{
    margin: 0px;
    padding: 0px;
    height: auto;
    font-family: 'Lato', sans-serif;
}

.cod{
    color:#fff;
    text-decoration: underline;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 25px;
    text-transform: none;
    padding-top: 40px;
}

.date{
    color: #000;
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

#recipe{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

#recipe button{
    background-color: rgb(172, 9, 42);
    font-size: 17px;
    border-radius: 5px;
    padding: 5px 20px;
    margin-bottom: 5px;
    color: rgb(240, 235, 235);
    font-weight: bold;
    width: 240px;
    height: 60px;
    text-align: center;
    
}

.title-cod{
    text-align: center;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: 700;
    text-align: center;
}

.Main-image img{
    width: 120%;
    border-radius: 10px;
    margin: auto;
    margin-left: 10%;
    padding-right: -20%;    
}

.ingredientcoktail{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 95%;
    background-color: #000;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 35px;
}

.cocktailcompo{
    display: flex;
    margin: auto;
    width: 80%;
    height: auto;
    background-color: #fff;
    list-style: none;
    padding: 10px;
    border-radius: 15px;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-top: 20px;
    align-content: center;
    align-items: center;
}

.Main{
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(#FF1A49, #F6895E, #F6895E, #fff);

}

.Video{
    position: relative;
    top: 0;
    left: 0;
    display: flex;    
}

.Video h1{
    position: absolute;
    color: #fff;
    top: 35%;
    right: 3%;
    transform: translateY(-50%);
    font-size: 25px;
    text-align: center;
    font-family: 'lato', serif;
    font-weight: 800;
    letter-spacing: 0.15rem;
    animation: videotitle .3s cubic-bezier(0,1.07,.73,.45);
    transition-delay: 2s;
    transform-origin: center bottom;
    animation-fill-mode: both;
}

.Video h6{
    position: absolute;
    color: #fff;
    top: 60%;
    right: 4%;
    transform: translateY(-50%);
    margin-top: 30px;
    font-size: 15px;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: italic;
    animation-name: videotext;
    animation-duration: 3s;
    transition-delay: 2s;
    animation-fill-mode: both;
}

.CoktailDay{
    display: flex;
    flex-direction: column;
}



.type{
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.load{
    width: 100%;
    height: 100%;
    text-align: center;
}

@keyframes videotext {
    from { transform: translateX(-350%)}
    to { transform: translateX(0%)}
}

@keyframes videotitle {
    from { opacity: 0;
        transform: scale3d(.75, .75, 1);
    }
    to { opacity: 1;
        transform: scale3d(1, 1, 1);}
}

@media only screen and (max-width: 450px){
    .Video h1{
        font-size: 25px;
    } 
    .Video h6{
        font-size: 11px;
    }
    .cod{
        font-size: 22px;
    }
    .cocktailcompo ul{
        font-size: 15px;
    }
}

@media only screen and (min-width: 450px){
    .Video h1{
        font-size: 30px;
    } 
    .Video h6{
        font-size: 14px;
    }
    .cod{
        font-size: 25px;
    }
    .cocktailcompo ul, .text-cod{
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px){
    .Video h1{
        font-size: 32px;
    } 
    .Video h6{
        font-size: 16px;
    }
}

@media only screen and (min-width: 900px){
    .Video h1{
        font-size: 35px;
    } 
    .Video h6{
        font-size: 25px;
    }
    .descriptifcocktail{
        display: flex;
        flex-direction: row;
    }
    .ingredientcoktail{
        width: 50%;
        margin: auto;
        margin-left: 2%;
        display: flex;
    }
    .cocktailDescription{
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (min-width: 1100px){
    .Video h1{
        font-size: 40px;
    } 
    .Video h6{
        font-size: 30px;
    }
    .descriptifcocktail{
      display: flex;
      flex-direction: row;
  }
    .ingredientcoktail{
        width: 50%;
        margin: auto;
        margin-left: 2%;
        display: flex;
    }
    .cocktailDescription{
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
    }
}

.recipe{
    margin-bottom: 80px;
}
.Main-image {
    display: flex;
    height: auto;
    width: 50%;
    margin-left: -20%;
}

.cocktailcompo ul{
    list-style: none;
    margin-left: 10%;
    height: auto;
}

.text-cod{
    margin: 60px;
    text-align: center;
}

.signal{
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    white-space: nowrap;
}

.Alcoholic{
    font-weight: 500;
    color: #FF1A49;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-shadow: 0 0 5px #FF1A49;
    
}

.Alcoholic-signal{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    line-height: 30px;
    background-color: #FF1A49;
    box-shadow: 0 0 5px #FF1A49;
    transform: translateY(-70%);
}

.Soft{
    text-align: center;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color: #00a6c0;
    font-size: 20px;
    text-shadow: 0 0 5px #00a6c0;
}

.Soft-signal{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    line-height: 30px;
    background-color: #00a6c0;
    box-shadow: 0 0 5px #00a6c0;
    transform: translateY(-70%);
}

.main1{
    text-align: center;
} 

.panel {
    margin:  30px;
    padding: 10px;
    border-radius: 5px ;
    box-shadow: 2px 1px 3px #9c9c9c;  
}

.panel p{
    font-size: 18px;
    font-style: italic;
}


.panel h4 {
    font-weight: bold;
    font-size: 22px;
}

.imageIngredient{
    width: 40%;
    height: auto;
}

.panel-body {
    padding: 10px;
}

.panel-footer button {
    background-color: rgb(172, 9, 42);
    font-size: 17px;
    border-radius: 5px;
    padding: 5px 25px;
    margin-bottom: 5px;
    color: rgb(240, 235, 235);
    font-weight: bold;
}
.panel-footer .btn:hover {
    background-color: rgb(146, 1, 30);
    color: rgb(240, 235, 235);
    transition-duration: 0.2s;
}
