.Main{
    margin: 0px;
    padding: 0px;
    height: auto;
    font-family: 'Lato', sans-serif;
}

h2{
    color:#CC2A49;
    margin-top: 25px;
    font-style: italic;
    text-decoration: underline;
}

h5{
    color: #000;
    margin-top: -10px;
}

.Video{
    position: relative;
    top: 0;
    left: 0;
    display: flex;    
}

.Video h1{
    position: absolute;
    color: #fff;
    top: 35%;
    right: 3%;
    transform: translateY(-50%);
    margin-top: 30px;
    font-size: 30px;
       
}

.Video h6{
    position: absolute;
    color: #fff;
    top: 60%;
    right: 4%;
    transform: translateY(-50%);
    margin-top: 30px;
       
}

.main-image{
    display: flex;
    width: 60%;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
}

.text-cod{
    margin: 60px;
    text-align: justify;
}