
#logo{
  height: 80px;
  width: auto;
  margin: 15px;
  border-radius: 20%;
}

.navbar-collapse.collapse.in {
  display: block!important;
}

.navbar-brand{
  font-family: 'Playfair Display', serif; 
  font-size: 2em;
}

.nav-link{
  font-family: 'Lato', sans-serif;
}

.navbar{
  background-color: #232323;
}
