
#logo{
  height: 80px;
  width: auto;
  margin: 15px;
  border-radius: 20%;
}

#subTitleImg{
  height: 30px;
  width: auto;
  margin-top: -10px;
}

.navbar-collapse.collapse.in {
  display: block!important;
}

