main {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

.banner {
  width: 100%;
}

.bar {
  height: 120vh;
}

.results {
  height: 80vh;
  overflow: auto;
}

.search {
  margin: 50px auto 50px;
  background-color: #373737;
}

.search h3 {
  color: white;
}

/*////////////// List of ingredients ///////////////*/

.alcohols, 
.fruits,
.others {
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.2s linear;
  margin: 0.5em;
}

.alcohols:hover,
.fruits:hover,
.others:hover {
  box-shadow: 0px 0px 0px 5px #373737;
}

.status-active {
  color: white;
  background-color: #855D5D;
}

.status-inactive {
  color: #D1D1D1;
  background-color: #373737;
}

/*////////////// Submit ingredients button ///////////////*/

.button {
  background-color: white;
  border : 2px solid #373737;
  padding: 0.5em 1em;
  margin: 2em auto 2em;
  transition: box-shadow 0.2s;
}

.button:hover, .button:focus, .button:active, .button.active {
  color: white;
  background-color: #373737;
  box-shadow: 0px 0px 0px 5px #373737;
}

/*////////////// Results list ///////////////*/

.result-ing {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  cursor: pointer;
}

.result-ing-item {
  border: 1px solid #DEDEDE;
  border-radius: 2px;
  margin: 5px;
  padding: 1em;
  transition: box-shadow 0.2s;
}

.result-ing-item:hover {
  background-color: #F1F1F1;
  box-shadow: 0px 0px 0px 3px #DEDEDE;
}

li.result-ing-item.active {
  color: white;
  background-color: #855D5D;
  border-color: #DEDEDE;
}