.bloc_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f0f;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 10px;
}
.warning {
    font-family: 'Playfair Display SC Black Italic', arial;
    font-size: 15px;
    font-style: italic;
    color: #a62639;
}

a {
  color: white;
  text-decoration: none; 
  font-size: 20px;
}

a:hover {
  color:grey;
  text-decoration: none;
}