.bloc_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232323;
    color: white;
    font-family: 'Lato', sans-serif;
}

.bloc_page h3 {
    font-family: 'Playfair Display', serif;
    color: white;
}

.com {
    width: 50%;
    text-align: center;
}

.com img {
    width: 80px;
    margin: auto;
    line-height:60px;
}


.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.contact button {
    width: 100px;
    background-color: tomato;
    margin: 20px;
}

.contact img {
    width: 150px;
    margin: 1px;
    line-height:60px;

}

.copiright {
    width: 50%;
    text-align: center;
}

@media screen and (min-width: 740px) {
    .bloc_page {
        flex-direction: row;
    }
}
