.bloc_page {
    width: 100%;
    background-color: #0f0f0f;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 13px;
}
.warning {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    font-style: italic;
    color: #edeae1;
}

.contactText{
  font-family: 'Playfair Display', serif;
  font-size: 1em;
}
.lienFooter {
  color: white;
  text-decoration: none; 
  font-weight: bold;
}

.lienFooter:hover {
  color:grey;
  text-decoration: none;
}